<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoofTroopEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GoofTroopEditor.Properties.Settings>
            <setting name="backupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="backupCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="backupTimer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="backupEnable" serializeAs="String">
                <value>False</value>
            </setting>
        </GoofTroopEditor.Properties.Settings>
    </userSettings>
</configuration>